body
{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(tlo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white !important;
}

.nav-bar{
    top: 0;
    position: sticky;
    z-index:2;
}

.navbar{

    background-color: black;
}

.nav-bar .fa-bars{

    font-size: 35px;
    color: white;
}

.nav-link{
    color: white !important;
}

#container
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.zdjecie
{
    margin: 20px;
    float: left;
}

.nazwa
{
    text-align: center;
    margin: 20px;
    height: 25px;
    font-size: 25px;
}

.dosw_prywatne
{
    font-size: 25px;
    margin: 20px;
    height: 25px;
}

.dosw_zawodowe
{
    font-size: 25px;
    margin: 20px;
    height: 25px;
}

.opis
{
    text-align: center;
    margin: 20px;
    float: left;
    font-size: 20px;
}

.opis_koncowy
{
    text-align: center;
}